@import "tailwindcss";

@theme {
  --color-indigo-50: var(--color-cyan-50);
  --color-indigo-100: var(--color-cyan-100);
  --color-indigo-200: var(--color-cyan-200);
  --color-indigo-300: var(--color-cyan-300);
  --color-indigo-400: var(--color-cyan-400);
  --color-indigo-500: var(--color-cyan-500);
  --color-indigo-600: var(--color-cyan-600);
  --color-indigo-700: var(--color-cyan-700);
  --color-indigo-800: var(--color-cyan-800);
  --color-indigo-900: var(--color-cyan-900);
  --color-indigo-950: var(--color-cyan-950);

  --color-violet-50: var(--color-pink-50);
  --color-violet-100: var(--color-pink-100);
  --color-violet-200: var(--color-pink-200);
  --color-violet-300: var(--color-pink-300);
  --color-violet-400: var(--color-pink-400);
  --color-violet-500: var(--color-pink-500);
  --color-violet-600: var(--color-pink-600);
  --color-violet-700: var(--color-pink-700);
  --color-violet-800: var(--color-pink-800);
  --color-violet-900: var(--color-pink-900);
  --color-violet-950: var(--color-pink-950);

  --color-purple-50: var(--color-amber-50);
  --color-purple-100: var(--color-amber-100);
  --color-purple-200: var(--color-amber-200);
  --color-purple-300: var(--color-amber-300);
  --color-purple-400: var(--color-amber-400);
  --color-purple-500: var(--color-amber-500);
  --color-purple-600: var(--color-amber-600);
  --color-purple-700: var(--color-amber-700);
  --color-purple-800: var(--color-amber-800);
  --color-purple-900: var(--color-amber-900);
  --color-purple-950: var(--color-amber-950);

  --color-emerald-50: var(--color-lime-50);
  --color-emerald-100: var(--color-lime-100);
  --color-emerald-200: var(--color-lime-200);
  --color-emerald-300: var(--color-lime-300);
  --color-emerald-400: var(--color-lime-400);
  --color-emerald-500: var(--color-lime-500);
  --color-emerald-600: var(--color-lime-600);
  --color-emerald-700: var(--color-lime-700);
  --color-emerald-800: var(--color-lime-800);
  --color-emerald-900: var(--color-lime-900);
  --color-emerald-950: var(--color-lime-950);

  --color-blue-50: var(--color-sky-50);
  --color-blue-100: var(--color-sky-100);
  --color-blue-200: var(--color-sky-200);
  --color-blue-300: var(--color-sky-300);
  --color-blue-400: var(--color-sky-400);
  --color-blue-500: var(--color-sky-500);
  --color-blue-600: var(--color-sky-600);
  --color-blue-700: var(--color-sky-700);
  --color-blue-800: var(--color-sky-800);
  --color-blue-900: var(--color-sky-900);
  --color-blue-950: var(--color-sky-950);

  --color-red-50: var(--color-rose-50);
  --color-red-100: var(--color-rose-100);
  --color-red-200: var(--color-rose-200);
  --color-red-300: var(--color-rose-300);
  --color-red-400: var(--color-rose-400);
  --color-red-500: var(--color-rose-500);
  --color-red-600: var(--color-rose-600);
  --color-red-700: var(--color-rose-700);
  --color-red-800: var(--color-rose-800);
  --color-red-900: var(--color-rose-900);
  --color-red-950: var(--color-rose-950);
}

